*{
    font-family: sans-serif;
    box-sizing: border-box;

}

/*sezione mail*/

.my-mail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin: 1em;
    background-color: rgb(124, 181, 238);
    border-radius: 30px;

}


.my-inner-mail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.my-bold{
    font-size: 1.5em;
    font-weight: bold;
}

.my-btn-confirm{
    padding: 0.3em 1em;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
}
/* fine mail section------------------------------------*/



/*sezione dadi-----------------------------------------*/
